body {
  margin: 0;
}

    .d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }
 
    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
 
    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }

.line {
  fill: none;
  stroke: darkmagenta;
  stroke-width: 2px;
}

.area {
  fill: none;
  stroke: darkmagenta;
  stroke-width: 2px;
}

#StartLine {
  stroke: blue;
}

#EndLine {
  stroke: orange;
}

#firstArea {
  stroke: blue;
  fill: blue;
  opacity: 0.5;
}

#secondArea {
  stroke: orange;
  fill: orange;
  opacity: 0.5;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}
/*
.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}*/

 path {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0px;
}

.water-layer, .river, .stream, .canal, .ocean { fill: none; stroke: #9DD9D2; stroke-width: 0px; }
.water, .ocean { fill: #9DD9D2; }
.riverbank { fill: #9DD9D2; }
.water_boundary, .ocean_boundary, .riverbank_boundary, .stream_boundary { fill: none; stroke: #a9a9a9; stroke-width: 1px; }
.major_road { stroke: #d9d9d9; stroke-width: 0.5px; }
.minor_road { stroke: #999; stroke-width: 0px; }
.highway { stroke: #b9b3b9; stroke-width: 0.5px; }
.buildings-layer { stroke: #987284; stroke-width: 0.15px; }
.park, .nature_reserve, .wood, .protected_land { fill: #88D18A; stroke: #88D18A; stroke-width: 0.5px; }
.pier { fill: #fff; stroke: #fff; stroke-width: 0.5px; }
.rail { stroke: #d9d9d9; stroke-width: 0.5px; }

.station {stroke: #252525; stroke-width: 0.5px; }
.station.selected {stroke: #252525; stroke-width: 3.5px; }
.station.neighbor {stroke: yellow; stroke-width: 3.5px; }

.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0px 5px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.info a {
  text-decoration: none;
  color: #0078a8;
}

.info a:hover {
  text-decoration: underline;
}

.slider {
  position: relative;
  top: 0px;
  left: 40px;
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
  left: 50px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

#date, #play, #slider-container{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

#selector{
  text-align: center;
}

#season, #day{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}

#select-key-season, #select-key-day{
  width: 100px;
}

#date{
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
  margin-left: 60px;
  color: #333;
}
#date p{
  margin: 0;
}
#date p:first-child{
  color: #999;
  font-size: 11px;
  line-height: 13px;
}
#date p#month{
  font-size: 30px;
  line-height: 30px;
}
#date p#month span{
  float: left;
  width: 2.55em;
}

#play{
  width: 53px;
  height: 53px;
  background-image: url(../images/play.png);
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

#play:hover{
  background-position: 0 -53px;
}

#play.pause{
  background-image: url(../images/pause.png);
}
#slider-container{
  position: relative;
}

#slider-div{
  margin-left: 65px;
  margin-top: 10px;
}

#slider-probe{
  position: absolute;
  top: -20px;
  font-size: 12px;
  width: 70px;
  margin-left: -35px;
  z-index: 50;
  display: none;
}

#slider-probe p{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 15px;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#date
{
   width:100px; /* or whatever width you want. */
   max-width:100px; /* or whatever width you want. */
   display: inline-block;
}

#slider-probe div{
  height: 15px;
  margin-left: 35px;
  border-left: 1px solid #999;
}

/* For non touch devices, move control out of the way at small window widths */
/*@media (max-width: 752px) {*/
  /* 767px - 15px for scrollbar */
/*  .mapzen-demo-iframed .zoom-container {
    top: 50px;
  }
}*/
